.endGameScreenWhiteWins {
    position: absolute;
    top: 60%;
    left: 5%;
    background-color: rgba(255,255,255,1);
    width: 400px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}

.endGameScreenBlackWins {
    position: absolute;
    top: 20%;
    left: 4%;
    background-color: rgba(255,255,255,1);
    width: 400px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}

.endGameScreen .resetButton {
    width: 80%;
    font-size: 24px;
    height: 50px;
    margin-top: 20px;
}

.endGameScreen .resetButton:hover {
    width: 75%;
    font-size: 24px;
    height: 50px;
    margin-top: 20px;
}

.resetButton {
    height: 50px;
    border-radius: 10px;
    background-color: white;
    border-color: rgb(179, 67, 2);
    transition-duration: 0.5s;
    width: 75px;
    margin-right: 20px;
}

.resetButton:hover {
    height: 50px;
    border-radius: 10px;
    background-color: rgb(179, 67, 2);
    border-color: rgb(179, 67, 2);
    color: white;
}