html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.Header {
  text-align: center;
  text-shadow: 2px 2px #000000;
  color: rgb(163, 163, 163);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.SubTitle {
  height: auto;
  text-align: center;
  text-shadow: 2px 2px #000000;
  color: rgb(163, 163, 163);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}
.SubTitle2 {
  text-align: center;
  text-shadow: 2px 2px #000000;
  color: rgb(221, 199, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.SubTitle3 {
  text-align: center;
  text-shadow: 2px 2px #000000;
  color: rgb(163, 163, 163);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

button:foc
button:focus {
  outline: none;
}
.TspChess {
  background-color: rgb(74, 74, 74);
  width: fit-content;
  margin: 15px 15px 0px 0px;
  min-height: 100%;
  padding: 20px;
  box-shadow: 10px 10px 15px black;
  z-index: 5;
  border-radius: 5px;
}
.spacer {
  height: 2%;
}
.row {
  margin: 0px auto 0px auto
}