html {
    height: 100%;
}
body {
    height: 100%;
}
#root {
    height: 100%;
}
.Header {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(210, 180, 140);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 42px;
}
.SubTitle {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(222, 184, 135);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.SubTitle2 {
    height: auto;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(244, 164, 96);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 21px;
}

button:foc button:focus {
    outline: none;
}
.TspChess {
    background-color: rgb(74, 74, 74);
    width: fit-content;
    margin: 15px 15px 0px 0px;
    min-height: 100%;
    padding: 30px;
    box-shadow: 10px 10px 15px black;
    z-index: 5;
    border-radius: 5px;
}
.spacer {
    height: 2%;
}
.row {
    margin: 0px auto 0px auto;
}
